<nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" [routerLink]="['/welcome']">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">Logout</a>
            </li>
           
          </ul>
        </div>
      </nav>
<!-- <div class="container">
    <div id="cover" *ngIf="donordisplay != null">
    <div class="card" *ngFor = "let i of donordisplay" >
        <div class="card-body">
            Name : <h4 style="font-family: cursive">{{i.fname}}</h4>
            Age : <h4 style="font-family: cursive">{{i.age}}</h4>
            Phone Number : <h4 style="font-family: cursive">{{i.phoneNO}}</h4>
            Blood Type : <h4 style="font-family: cursive">{{i.blood}}</h4>
        </div>

    </div>
    </div>
</div> -->

<div class="container-fluid" style="background-color: rgba(209, 204, 204, 0.61)">
  

<div class="main-wrap" [@cardAnimation]="cards.length" @plusAnimation>
  <div class="card" *ngFor="let card of cards">
        <div class="card-body">
                Name : <h4 style="font-family: cursive">{{card.fname}}</h4>
                Age : <h4 style="font-family: cursive">{{card.age}}</h4>
                Phone Number : <h4 style="font-family: cursive">{{card.phoneNO}}</h4>
                Blood Type : <h4 style="font-family: cursive">{{card.blood}}</h4>
                Address :<h4 style="font-family: cursive">{{card.adress}}</h4>
            </div>
    <!-- <h3 class="info"></h3> -->
  </div>
  
</div>
</div>